@import "variables";
@import "bootstrap";

svg[role="img"] {
  width: 100%;
  height: 100%;
}

$title-ratio: 1140 / 647;
$logo-ratio: 358 / 58;
$container-margin: $grid-gutter-width * 2;

$max-width-xs: breakpoint-max(xs);

$min-width-xs: 320px;
$min-width-sm: breakpoint-min(sm) - $container-margin;
$min-width-md: breakpoint-min(md) - $container-margin;
$min-width-lg: breakpoint-min(lg) - $container-margin;
$min-width-xl: breakpoint-min(xl) - $container-margin;

body {
  background: url("../img/pozadi.jpg") fixed;
  background-size: $max-width-xs;
}

@include media-breakpoint-up(xs) {
  .container__main {
    background: url("../img/pozadi.jpg") fixed center top;
    background-size: $max-width-xs;
    min-width: $min-width-xs;
    box-shadow: 0 0 15px -4px rgba(0, 72, 255, 1);
  }
  .header {
    background: url("../img/nadpis.png") no-repeat center -15px;
    background-size: $min-width-xs;
    height: $min-width-xs / $title-ratio;
  }
  .logo {
    $logo-width: 300px;
    $logo-padding-top: 20px;
    $logo-height: $logo-width / $logo-ratio + $logo-padding-top;
    background: url("../img/mkp.svg") no-repeat center $logo-padding-top;
    background-size: $logo-width;
    height: $logo-height;
    padding-top: $logo-padding-top;
  }
  .item {
    margin-bottom: 10px;
    &__header {
      padding: 8px 20px 2px;
      font-family: $font-family-secondary;
      line-height: 1.5rem;
      letter-spacing: 0.03rem;
      color: white;
      cursor: pointer;
      background-color: $primary;
      background-size: 15px;
      background-position: right 15px center;
      background-repeat: no-repeat;
      transition: background-color $transition-delay;
      &:hover,
      &:focus,
      &:active {
        background-color: $primary;
      }
      &--up {
        background-color: $tertiary;
        background-image: url("../assets/icons/arrow-left.svg");
      }
      &--down {
        background-color: $primary;
        background-image: url("../assets/icons/arrow-down.svg");
      }
    }
    &__title {
      font-size: 1.5rem;
    }
    &__author {
      font-size: 1.2rem
    }
    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background: white;
      padding: 20px 20px 15px;
      &--hidden {
        display: none;
      }
      &--shown {
        display: flex;
      }
    }
    &__cover {
      width: 42%;
      img {
        width: 100%
      }
    }
    &__buttons {
      width: 42%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: $font-family-secondary;
    }
    &__button {
      display: block;
      background: $secondary url("../assets/icons/download.svg") no-repeat 10px center;
      color: white !important;
      letter-spacing: 0.03rem;
      padding: 10px 10px 5px;
      font-size: 1.7rem;
      line-height: 1.4rem;
      transition: background $transition-delay;
      &:hover,
      &:focus,
      &:active {
        background-color: $primary;
        background-image: url("../assets/icons/download-hover.svg");
        text-decoration: none;
      }
    }
    &__annotation {
      margin-top: 20px;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  }
  .mkp-link a {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: $font-family-secondary;
    padding: 10px 0 5px;
    margin: 30px 0;
    color: white !important;
    background-color: $secondary;
    transition: background-color $transition-delay;
    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
      text-decoration: none;
    }
  }
  .footer {
    background: $tertiary;
  }
  .container__footer {
    color: white;
    font-family: $font-family-secondary;
    font-size: 1.4rem;
    line-height: 2.3rem;
    padding-top: 20px;
    padding-bottom: 15px;
    background: url("../img/hmp.svg") no-repeat right 20px center;
    background-size: 65px;
    p {
      margin: 0;
    }
  }
}

// Small devices (landscape phones)
@include media-breakpoint-up(sm) {
  .container__main {
      background-size: $min-width-sm + $container-margin;
  }
  .header {
    background-size: $min-width-sm;
    height: $min-width-sm / $title-ratio;
  }
  .item {
    &__button {
      padding: 10px 8px 5px;
      font-size: 1.4rem;
      line-height: 1.1rem;
    }
  }
}

// Medium devices (tablets)
@include media-breakpoint-up(md) {
  body {
    background-size: $min-width-md;
  }
  .container__main {
    background-size: $min-width-md + $container-margin;
  }
  .header {
    background-size: $min-width-md;
    height: $min-width-md / $title-ratio;
  }
  .logo {
    $logo-width: 400px;
    $logo-padding-top: 25px;
    $logo-height: $logo-width / $logo-ratio + $logo-padding-top;
    background-size: $logo-width;
    height: $logo-height;
    padding-top: $logo-padding-top;
  }
  .item {
    &__button {
      padding: 10px 10px 5px;
      font-size: 1.7rem;
      line-height: 1.4rem;
    }
  }
}

// Large devices (desktops)
@include media-breakpoint-up(lg) {
  body {
    background-size: $min-width-lg;
  }
  .container__main {
    background-size: $min-width-lg + $container-margin;
  }
  .header {
    background-size: $min-width-lg;
    height: $min-width-lg / $title-ratio;
  }
  .logo {
    $logo-width: 500px;
    $logo-padding-top: 30px;
    $logo-height: $logo-width / $logo-ratio + $logo-padding-top;
    background-size: $logo-width;
    height: $logo-height;
    padding-top: $logo-padding-top;
  }
}

// Extra large devices (large desktops)
@include media-breakpoint-up(xl) {
  body {
    background-size: $min-width-xl;
  }
  .container__main {
    background-size: $min-width-xl + $container-margin;
  }
  .header {
    background-size: $min-width-xl;
    height: $min-width-xl / $title-ratio;
  }
}
