$primary: #c53927;
$secondary: #00a6eb;
$tertiary: #2d2d41;

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BebasNeue-Bold.woff2') format('woff2'),
         url('../assets/fonts/BebasNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$font-family-base: 'Georgia', Times, Times New Roman, serif;
$font-family-secondary: 'Bebas Neue', Arial, Helvetica, sans-serif;
$font-size-base: 0.8rem;

$transition-delay: 250ms;
